<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.news.tagil" android:versionCode="1" android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET">true</uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.activityMain" android:label="@string/title_activity_hello" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.activityNewsContent" />
        <activity android:name=".activity.activityNewsPreview">
        </activity>
        <activity android:name=".activity.activityRegistration" />
        <activity android:name=".activity.activityLogin" />
        <activity android:name=".activity.activitySettings" />
        <activity android:name=".activity.activityUseful" />
        <activity android:name=".activity.activityAds" />
        <activity android:name=".activity.activityCorrespondence" />
        <activity android:name=".activity.activityContact" />
        <activity android:name=".activity.activityCommentNews" />
        <activity android:name=".activity.activityFavoriteNews" />
        <activity android:name=".activity.activityMessages" />



    </application>
</manifest>
