<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.news.tagil" android:versionCode="1" android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET">true</uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">true</uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">true</uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.activityMain"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activityNewsContent"
                android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityNewsPreview"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.activityReadAds"
                  android:screenOrientation="portrait"
                ></activity>
        <activity android:name=".activity.activityRegistration"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityLogin"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activitySettings"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityUseful"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityAds"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityMakeAds"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityCorrespondence"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityContact"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityCommentNews"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityFavoriteNews"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityMessages"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.activityMyAds"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
